* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	min-height: 100vh;
	background: linear-gradient(to right, #00AAFF, #00FF6C)
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #1696d5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.title {
    font-size: 18px;
}
.navbar a {
    font-size: 16px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;

}
.topic {
    padding: 10px;
    text-align: center;
}
.about {
    display: block;
    padding: 20px, 100px;
    text-align: center;   
    margin: 20px;
}
.image {
    max-height: 500px;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 50%;
    border-radius: 50%;
}